@import "reset.css";

/*Components*/
@import "components/main-header.css";
@import "components/sidebar.css";
@import "components/modal.css";
@import "components/artwork.css";

/*Screens*/
@import "screen/index.css";
@import "screen/main.css";
@import "screen/buddhism.css";
@import "screen/1990.css";
@import "screen/2006.css";
@import "screen/2010.css";
@import "screen/2012.css";
@import "screen/fairytale.css";
@import "screen/introduction.css";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 600;
  overflow: auto;
}

#clicked_menu {
  color: black;
}
