@import "reset.css";

/*Components*/
@import "components/main-header.css";
@import "components/sidebar.css";
@import "components/modal.css";

/*Screens*/
@import "screen/index.css";
@import "screen/main.css";
@import "screen/buddhism.css";
@import "screen/artwork.css";
@import "screen/1970.css";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 600;
  overflow: auto;
}
