@import url("//fonts.googleapis.com/earlyaccess/kopubbatang.css");
.artwork_1990_rocke {
  width: 70%;
}

.artwork_1990_woman3 {
  width: 65%;
}

.artwork_1990_woman4,
.artwork_1990_woman8 {
  width: 75%;
}
