.main-buddhism {
  display: flex;
  justify-content: flex-start;
}

.main-buddhism__content {
  border: 1px solid red;
  margin-top: 1vw;
  width: 88vw;
  height: 77vh;
  overflow-y: hidden;
  margin-left: 1vw;
  position: relative;
}
