@keyframes titleFadeAction {
  from {
    opacity: 0;
    boder: none;
  }

  to {
    opacity: 1;
  }
}

.index-body {
  background-image: url(../010.jpg);
  background-repeat: repeat-x;
  animation: titleFadeAction 2s ease-in-out forwards;
}

.title {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid whitesmoke;
}

.title__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title__container__text {
  position: relative;
  top: -10vh;
  letter-spacing: 1.5vh;
  font-size: 4vw;
  font-family: "Jeju Myeongjo", serif;
  color: whitesmoke;
  text-align: left;
}
.chinese {
  font-size: 2vw;
  line-height: 20vh;
  font-family: "Jeju Myeongjo", serif;
  text-align: right;
}
.language {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-family: "Noto Serif KR", serif;
}
.language__korean,
.language__english {
  font-weight: 600;
  font-size: 1.5vw;
  text-decoration: none;
  color: whitesmoke;
}

@media screen and (max-width: 299px) {
  .title__container__text {
    font-size: 35px;
  }
  .chinese {
    font-size: 20px;
  }
  .language {
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .title__container__text {
    font-size: 40px;
  }
  .chinese {
    font-size: 27px;
  }
  .language {
    font-size: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1400px) {
  .title__container__text {
    font-size: 60px;
  }
  .chinese {
    font-size: 35px;
  }
  .language {
    font-size: 25px;
  }
}
