.main-header__title {
  border: 1px solid tomato;
  font-size: 3vw;
  text-align: center;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header__title > span:last-child {
  padding-top: 1vw;
  font-size: 1.5vw;
}

.main-header__menubox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  border: 1px solid green;
  margin-top: 1vw;
}
.menubox--menu {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  border: 1px solid blue;
}

.menubox--menu > span {
  border: 2px solid black;
}
