.main--sample-box {
  margin-top: 3vw;
  height: 35vw;
  position: relative;
}

.main__quick {
  position: relative;
  width: auto;
  height: auto;
}

.img_hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 2vw;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: transparent;
  transition: background-color 0.6s ease-in-out, opacity 0.2s ease-in-out;
  cursor: pointer;
}

.img_hover:hover {
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.main__quick-70s img {
  width: 18vw;
}
.main__quick-90s img {
  width: 16vw;
}
.main__quick-2006 img {
  width: 15.5vw;
}
.main__quick-2010 img {
  width: 20vw;
}
.main__quick-current img {
  width: 8.35vw;
}

.main__quick-fairytale img {
  width: 22vw;
}
.main__quick-buddhism img {
  width: 12vw;
}

.main__quick-70s {
  position: absolute;
  left: 30.3vw;
}

.main__quick-90s {
  position: absolute;
  top: 15vw;
  left: 23vw;
}

.main__quick-2006 {
  position: absolute;
  left: 49vw;
}

.main__quick-2010 {
  position: absolute;
  top: 20vw;
  left: 49vw;
}

.main__quick-current {
  position: absolute;
  top: 15vw;
  left: 40vw;
}

/* .main__quick-fairytale {
  position: absolute;
  top: 20.7vw;
  left: 39vw;
}

.main__quick-buddhism {
  position: absolute;
  top: 14vw;
  left: 62vw; 
}*/
