.main-artwork {
  height: 79.9%;
  display: flex;
  justify-content: flex-start;
  font-family: "Noto Serif KR", serif;
}

.main-artwork__content {
  width: 100%;
  height: auto;
  position: relative;
  overflow: auto;
}
