.main-header {
  height: 20%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
}
.main-header__box {
  display: flex;
  justify-content: flex-start;
  width: auto;
  cursor: pointer;
}
.main-header__stamp {
  width: 4.2vw;
}

.main-header__title {
  padding-top: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 3vw;
  font-family: 'MapoFlowerIsland', serif;
}

.main-header__title > span:last-child {
  padding-top: 1vw;
  font-size: 1.2vw;
}

.main-header__menubox {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  height: 2vw;
}
.menubox__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: 'kopubLight';
}

.menu__introduction,
.menu__works-box,
.menu__review,
.menu__contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.1vw;
  -webkit-tap-highlight-color: transparent;
}

.menu__works-box {
  position: relative;
}

.works-box__list a {
  text-decoration: none;
  color: black;
}

.menu__works-box:hover .works-box__list {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.menu__introduction:hover,
.menu__works-box:hover,
.menu__review:hover,
.menu__contact:hover {
  color: black;
}

.chronograph__1970:hover,
.chronograph__1990:hover,
.chronograph__2006:hover,
.chronograph__2010:hover,
.chronograph__2012:hover,
.chronograph__buddhism:hover {
  color: black;
}

.modal_close_btn {
  color: coral;
}

/* @media screen and (min-width: 1024px) and (max-width: 1200px) {
  .main-header__stamp {
    width: 7vw;
  }

  .main-header__title > span {
    font-size: 5vw;
  }

  .main-header__title > span:last-child {
    padding-top: 2vw;
    font-size: 2.3vw;
  }

  .main-header__menubox {
    width: 100%;
    margin-top: 3vw;
    height: 5vw;
  }

  .menubox__menu {
    font-size: 1.8vw;
    width: 100%;
  }

  .works-box__list a {
    visibility: hidden;
  }
} */

@media screen and (min-width: 700px) and (max-width: 1200px) {
}