.modal_container {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: auto;
}

.modal__image {
  width: 35vw;
}
