.modal_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: scroll;
}
.modal_header {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
}

.modal__image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.modal_info {
  width:100%;
  display: block;
  text-align: center;
  color: white;
  font-size: 1vw;
  font-family: 'kopubLight';
}

.modal__image {
  width: 100%;
  height: auto;
}

/* iPad Pro*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .modal_info{
    font-size: 2vw;
  }

  .modal_close_btn {
    font-size: 3vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px){
  .modal_info{
    font-size: 2vw;
  }

  .modal_close_btn {
    font-size: 5vw;
  }

}

@media screen and (max-width: 500px){
  .modal_info{
    font-size: 3vw;
  }

  .modal_close_btn {
    font-size: 7vw;
  }

}