.main-artwork a {
  text-decoration: none;
  color: black;
}

.main-artwork__sidebar {
  font-family: "kopubLight";
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sidebar-title {
  height: fit-content;
  margin: 1vw 0vw;
  font-size: 0.8vw;
  width: max-content;
}

.chronograph__ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);
}

.chronograph__ul li {
  margin-bottom: 3vh;
  font-size: 0.7vw;
  text-align: center;
}
.chronograph__ul li a {
  color: rgba(0, 0, 0, 0.4);
}

.sidebar-container__buddihsm {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
}

.sidebar-container__buddihsm a {
  color: rgba(0, 0, 0, 0.4);
}

.sidebar-container__fairytale a {
  color: rgba(0, 0, 0, 0.4);
}
