.main-artwork a {
  text-decoration: none;
  color: black;
}

.main-artwork__sidebar {
  font-family: 'Noto Serif KR', serif;
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sidebar-title {
  height: fit-content;
  width: 100%;
  text-align: center;
  margin: 2vw 0vw;
  font-size: 1.2vw;
}

.chronograph__ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);
}

.chronograph__ul li {
  margin-bottom: 4vh;
  font-size: 1vw;
  text-align: center;
}
.chronograph__ul li a {
  color: rgba(0, 0, 0, 0.4);
  display: block;
}

.sidebar-container__buddihsm {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
}

.sidebar-container__buddihsm a {
  color: rgba(0, 0, 0, 0.4);
}


/* iPad Pro*/
@media screen and (min-width: 701px) and (max-width: 1200px) {
  
  .main-artwork__sidebar {
    width: 15%;
  }

  .sidebar-title {
    font-size: 1.5vw;
  }

  .chronograph__ul {
    margin-top: 2vw;
  }

  .chronograph__ul li {
    font-size: 1.5vw;
  }
  
}

@media screen and (max-width: 700px){
  
  .main-artwork__sidebar {
    width: 30%;
    padding: 2%;
  }

  .sidebar-title {
    font-size: 2.2vw;
    margin: 5vw 0vw;
  }

  .chronograph__ul {
    margin-top: 0vw;
  }

  .chronograph__ul li {
    font-size: 2vw;
    margin-top: 2vw;
  }
  
}